body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 70%;
    margin: auto;
}
.month{
    height: 50px;
    background-color: red;
    
}
th{
    height: 50px;
    width: 200px;
    color: white;
}
#day{
    background-color: crimson;
    font-size: 18px;
}
td{
    vertical-align: text-top;
    height: 100px;
    background-color: blanchedalmond;
    font-weight: bolder;
}
.empty{
    background-color: rgb(228, 214, 192);
}
.weekend{
    color: red;
}
.event{
    color: red;
    border: 2px solid red;
    background: rgba(153, 60, 60, 0.3);
}
.p1{
    
    background-image: url(pic/p1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.p2{
    
    background-image: url(pic/p2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.p3{
    
    background-image: url(pic/p3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
td:hover{
    background-color: rgb(196, 26, 26,0.5);
}
.p1:hover{
    opacity: 50%;
}
.p2:hover{
    opacity: 50%;
}
.p3:hover{
    opacity: 50%;
}
